# 合并数据集
用 Pandas Merges 创建 `clean_08.csv` 和 `clean_18.csv` 的合并数据集。

In [1]:
# 加载数据集
import pandas as pd
df_08 = pd.read_csv('clean_08.csv')
df_18 = pd.read_csv('clean_18.csv')

### 创建合并数据集

In [3]:
# 重命名 2008 列
df_08.rename(columns = lambda x: x[:10] + "_2008", inplace = True)

In [4]:
# 查看并检查名称
df_08.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

In [5]:
# 合并数据集
df_combined = df_08.merge(df_18, left_on=['model_2008'], right_on=['model'], how = 'inner')

In [12]:
len(df_combined.columns)

26

保存合并数据集

In [9]:
df_combined.to_csv('combined_dataset.csv', index=False)